extends layouts/base_internal
block content
    // section
    .section.layout_padding.contact_section(style='background:#f6f6f6;')
    .container
        .row
            .col-lg-8.col-md-8.col-sm-12
                .full.float-right_img
                img(src='images/img10.png' alt='#')
            .col-lg-4.col-md-4.col-sm-12
                .contact_form
                    form(action='contact.html')
                        fieldset
                        .full.field
                            input(type='text' placeholder='Your Name' name='your name')
                        .full.field
                            input(type='email' placeholder='Email Address' name='Email')
                        .full.field
                            input(type='phn' placeholder='Phone Number' name='Phone number')
                        .full.field
                            textarea(placeholder='Massage')
                        .full.field
                            .center
                            button Send
    // end section
    // Start Footer
