// Start Banner
.ulockd-home-slider
  .container-fluid
    .row
      #js-main-slider.pogoSlider
        .pogoSlider-slide(style='background-image:url(images/banner_img.png);')
          .container
            .row
              .col-md-12
                .slide_text
                  h3
                    span.theme_color(span='') You only have know one thing
                    br
                    | you can learn anything
                  h4 Free Educations
                  br
                  .full.center
                    a.contact_bt(href='courses.html') Start a Course
        .pogoSlider-slide(style='background-image:url(images/banner_img.png);')
          .container
            .row
              .col-md-12
                .slide_text
                  h3
                    span.theme_color(span='') You only have know one thing
                    br
                    | you can learn anything
                  h4 Free Educations
                  br
                  .full.center
                    a.contact_bt(href='courses.html') Start a Course
      // .pogoSlider
// End Banner
// section
.section.tabbar_menu
  .container
    .row
      .col-md-12
        .tab_menu
          ul
            li
              a(href='#')
                span.icon
                  img(src='images/i1.png' alt='#')
                span University Life
            li
              a(href='#')
                span.icon
                  img(src='images/i2.png' alt='#')
                span Graduation
            li
              a(href='#')
                span.icon
                  img(src='images/i3.png' alt='#')
                span Athletics
            li
              a(href='#')
                span.icon
                  img(src='images/i4.png' alt='#')
                span Social
            li
              a(href='#')
                span.icon
                  img(src='images/i5.png' alt='#')
                span Location
            li
              a(href='#')
                span.icon
                  img(src='images/i6.png' alt='#')
                span Call us
            li
              a(href='#')
                span.icon
                  img(src='images/i7.png' alt='#')
                span Email
// end section
