<%- include('../layouts/head.ejs') %>
<%- include('../layouts/internal-banner.ejs') %>
<div class="container">
    <div class="row mb-4">
        Add new course
    </div>
</div>
<%- include('../layouts/footer.ejs') %>